name: Security Guardrails

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  iac-scan:
    name: Checkov IaC Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Run Checkov Scanner
        uses: bridgecrewio/checkov-action@master
        with:
          directory: infrastructure/aws
          # This tells Checkov to output the results to the console
          quiet: false 
          # This tells Checkov to FAIL the build if it finds issues
          soft_fail: false
